<input type="hidden" id="address" value="<%= @farm.address %>">

<div class="farm-banner" style="background-image: url('<%= image_path @farm.photo %>');">
  <!-- Add farm image after Farm model updating -->

  <h1><%= @farm.name %></h1>
</div>

<div class="container">
  <div class="products">
    <h2>Products</h2>
    <% @farm.products.each do |product| %>

      <div class="product">
        <h3><%= product.name.capitalize %></h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="picture" style="background-image: url('<%= image_path product.photo %>');">
            </div>
            <!-- Add product image after Product model updating -->

          </div>
          <div class="col-sm-5 col-sm-offset-1">
            <p class="price">Unit price: <strong><%= product.price %>€</strong></p>
            <% if user_signed_in? %>
              <div class="form">
                <%= simple_form_for @order do |f| %>
                <%= f.hidden_field :product_id, value: product.id %>
                <%= f.input :quantity %>
                <%= f.input :delivery_time %>
                <%= f.submit class: 'btn btn-lg btn-primary' %>
                <% end %>
              </div>
            <% else %>
              <div class="login-alert">
                You must login before making an order.
                <%= link_to 'Login', new_user_session_path %>
                <%= link_to 'Signup', new_user_registration_path %>
                <%= link_to 'Connect with Facebook', user_facebook_omniauth_authorize_path %>
              </div>
            <% end %>
          </div>
          <div class="col-sm-12">
            <p class="description"><%= product.description %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="container">
  <div class="farm">
    <h2>About the farm</h2>
    <div class="row">
      <div class="col-sm-6">
        <div id="map"></div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="details">
          <h4><i class="fa fa-map-marker" aria-hidden="true"></i> Location</h3>
          <p><%= @farm.address %></p>
          <%= link_to 'Get directions', '#', class: 'btn btn-lg btn-default' %>

          <h4><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</h3>
          <p><%= @farm.user.email %></p>
          <%= link_to 'Contact owner', "mailto:#{@farm.user.email}", class: 'btn btn-lg btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="reviews">
    <h2>Last reviews</h2>
    <div class="review">
      <p class="author">John Doe</p>
      <div class="rating">
        <% 2.times do %>
          <i class="fa fa-star star-active" aria-hidden="true"></i>
        <% end %>
        <% 3.times do %>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    </div>
    <div class="review">
      <p class="author">John Doe</p>
      <div class="rating">
        <% 2.times do %>
          <i class="fa fa-star star-active" aria-hidden="true"></i>
        <% end %>
        <% 3.times do %>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    </div>
  </div>
</div>

<input type="hidden" id="address" value="<%= @farm.address %>">
<script src="https://maps.googleapis.com/maps/api/js"></script>
