<input type="hidden" id="address" value="<%= @farm.address %>">

<div class="farm-banner" style="background-image: linear-gradient(rgba(0, 0, 0 ,0.4), rgba(0, 0, 0 ,0.3)), url('<%= image_path @farm.photo %>');">
  <h1><%= @farm.name %></h1>
</div>

<div class="container">
  <div class="products">
    <h2>Products</h2>
    <% @farm.products.each do |product| %>
      <div class="product">
        <h3><%= product.name.capitalize %></h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="picture" style="background-image: url('<%= image_path product.photo %>');">
            </div>
          </div>
          <div class="col-sm-5 col-sm-offset-1">
            <p class="price">Unit price: <strong><%= product.price %>€</strong></p>

            <% if user_signed_in? %>
              <div class="form">
                <%= simple_form_for @order do |f| %>
                <%= f.hidden_field :product_id, value: product.id %>
                <%= f.input :quantity %>
                <%= f.input :delivery_time %>
                <%= f.submit class: 'btn btn-lg btn-primary' %>
                <% end %>
              </div>
            <% else %>
              <div class="login-card">
                <p>Before adding a product to your cart, you have to create an account or to login:</p>
                <p><%= link_to 'Connect with facebook', user_facebook_omniauth_authorize_path, class: 'btn btn-primary' %></p>
                <div class="">
                  <%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>
                  <%= link_to 'Signup', new_user_registration_path, class: 'btn btn-default' %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-sm-12">
            <p class="description"><%= product.description %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="container">
  <div class="farm">
    <h2>About the farm</h2>
    <div class="row">
      <div class="col-sm-6">
        <div id="map" style="width: 100%; height: 600px;"></div>
        <% content_for(:after_js) do %>
          <script>
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          </script>
        <% end %>

      </div>

      <div class="col-sm-5 col-sm-offset-1">
        <div class="details">
          <h4><i class="fa fa-map-marker" aria-hidden="true"></i> Location</h3>
          <p><%= @farm.address %></p>
          <%= link_to 'Get directions', "https://www.google.com/maps/dir/?api=1&destination=#{@farm.address}", class: 'btn btn-lg btn-default', target: '_blank' %>
          <h4><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</h3>
          <p><%= @farm.user.first_name || @farm.user.email %></p>
          <%= link_to 'Contact owner', "mailto:#{@farm.user.email}", class: 'btn btn-lg btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="reviews">
    <h2>Last reviews</h2>
    <% @orders.each do |order| %>
      <div class="review">
        <p class="author"><%= order.user.first_name ? order.user.first_name : 'Anonymous' %></p>
        <div class="rating">
          <% order.rating.to_i.times do %>
            <i class="fa fa-star star-active" aria-hidden="true"></i>
          <% end %>
          <% (5 - order.rating.to_i).times do %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% end %>
        </div>
        <p><%= order.review %></p>
      </div>
    <% end %>
  </div>
</div>

<input type="hidden" id="address" value="<%= @farm.address %>">

<% content_for(:after_js) do %>
  <script>
    const coord = <%= raw @farm_coordinates.to_json %>;
  </script>
<% end %>
