-<input type="hidden" id="address" value="<%= @farm.address %>">

<div class="farm-banner" style="background: black;">
  <h1><%= @farm.name %></h1>
</div>




<div class="container">
  <div class="products">
    <h2>Products</h2>



    <% @farm.products.each do |product| %>
    <h3><%= product.name.capitalize %></h3>
      <div class="product">
        <div class="row">
          <div class="col-sm-6">
            <div class="picture">
            </div>
            <!-- image tag when migration AddPhotoToProduct -->
          </div>
          <div class="col-sm-5 col-sm-offset-1">
            <div class="form">
              <%= simple_form_for @order do |f| %>
              <%= f.input :quantity %>
              <%#= f.input :address %>
              <!-- Add reservation date to order  -->
              <%= f.submit class: 'btn btn-lg btn-primary' %>
              <% end %>
            </div>
          </div>
          <div class="col-sm-12">
            <p class="description"><%= product.description %></p>
          </div>
        </div>
      </div>
    <% end %>




  </div>
</div>

<div class="container">
  <div class="farm">
    <h2>About the farm</h2>
    <div class="row">
      <div class="col-sm-6">
        <div id="map"></div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="details">
          <h3><i class="fa fa-map-marker" aria-hidden="true"></i> Location</h3>
          <p><%= @farm.address %></p>
          <%= link_to 'Get directions', '#', class: 'btn btn-lg btn-default' %>

          <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</h3>
          <p><%= @farm.user.email %></p>
          <%= link_to 'Contact owner', "mailto:#{@farm.user.email}", class: 'btn btn-lg btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="reviews">
    <h2>Last reviews</h2>
    <div class="review">
      <p class="author">John Doe</p>
      <div class="rating">
        <% 2.times do %>
          <i class="fa fa-star star-active" aria-hidden="true"></i>
        <% end %>
        <% 3.times do %>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      </div>
      <p class="date">25/11/2018</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    </div>
    <div class="review">
      <p class="author">John Doe</p>
      <div class="rating">
        <% 2.times do %>
          <i class="fa fa-star star-active" aria-hidden="true"></i>
        <% end %>
        <% 3.times do %>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      </div>
      <p class="date">25/11/2018</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    </div>
  </div>
</div>

<input type="hidden" id="address" value="<%= @farm.address %>">
<script src="https://maps.googleapis.com/maps/api/js"></script>
