<div class="footer">
  <div class="social">
    <p>Made by <%= link_to 'Louis', '#', target: '_blank' %>, <%= link_to 'Quentin', '#', target: '_blank' %> & <%= link_to 'Serge', '#', target: '_blank' %></p>
  </div>
  <div class="right-nav">
    <ul class="list-inline">
      <li><%= link_to 'About', '#'%></li>
      <li><%= link_to 'Contact', '#'%></li>
    </ul>
  </div>
</div>
