<div class="form-review collapse" id="<%="collapse-#{order.id}"%>">
  <%= simple_form_for(order) do |f| %>
    <div class="col-sm-4">
      <%= f.input :rating, collection: Order::ORDER_RATING %>
    </div>
    <div class="col-sm-12">
      <%= f.hidden_field :updated_at %>
      <% if params[:id] && order.id == params[:id].to_i %>
        <%= f.input :review, input_html: {value: @review} %>
      <% else %>
        <%= f.input :review %>
      <% end %>
    </div>
    <div class="col-sm-12">
      <%= f.submit class: 'btn btn-lg btn-primary' %>
    </div>
  <% end %>
</div>
