<div class="container">
  <div class="orders">
    <h1>My orders</h1>
    <div class="row">
      <% @orders.each do |order| %>
        <div class="order panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title"><%= order.quantity %>x <%= order.product.name %><span class="pull-right"><%= order.created_at %></span></h2>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="order-image" style="background-image: url('<%= order.product.photo %>');"></div>
              </div>
              <div class="col-sm-8">
                <p><%= order.product.description %></p>
              </div>
              <button class="button-review">Add a review</button>
              <div class="form-review" >
                <%= simple_form_for(order) do |f| %>
                  <%= f.input :rating %>
                  <% if !params[:id].nil? && order.id == params[:id].to_i %>
                    <%= f.input :review, input_html: {value: @review} %>
                  <% else %>
                    <%= f.input :review %>
                  <% end %>
                  <%= f.submit class: 'btn btn-lg btn-primary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
