<div class="container">
  <div class="orders">
    <h1>My orders</h1>
    <div class="row">
      <% @orders.each do |order| %>
        <div class="order panel panel-success">
          <div class="panel-heading">
            <h2 class="panel-title"><%= order.product.name %><span class="pull-right"><%= order.created_at.strftime('%D') %></span></h2>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4">
                <%= link_to farm_path(order.product.farm) do %>
                  <div class="order-image" style="background-image: url('<%= order.product.photo %>');"></div>
                <% end %>
              </div>
              <div class="col-sm-8">
                <ul class="list-group">
                  <li class="list-group-item">Total price: <span class="pull-right"><%= order.quantity * order.product.price %>€</span></li>
                  <li class="list-group-item">Order date: <span class="pull-right"><%= order.delivery_time.strftime('%D') %></span></li>
                  <li class="list-group-item">Quantity:<span class="pull-right"><%= order.quantity %></span></li>
                  <li class="list-group-item"><%= link_to "Cancel order", order_path(order), method: :delete, class: 'text-danger', data: {confirm: "Are you sure you want to cancel this order?"} %></li>

                </ul>
                <div class="col-sm-4 col-sm-offset-4">
                  <%= link_to 'Add a review', "#collapse#{order.created_at.strftime('%Y%m%dT%H%M%S')}", 'aria-expanded': 'false', 'aria-controls': 'collapseExample', 'data-toggle': 'collapse', role: 'button', class: 'btn btn-primary button-review' %>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-review collapse" id="<%="collapse#{order.created_at.strftime('%Y%m%dT%H%M%S')}"%>">
                  <%= simple_form_for(order) do |f| %>
                    <div class="col-sm-4">
                      <%= f.input :rating %>
                    </div>
                    <div class="col-sm-12">
                      <%= f.hidden_field :updated_at %>
                      <% if params[:id] && order.id == params[:id].to_i %>
                        <%= f.input :review, input_html: {value: @review} %>
                      <% else %>
                        <%= f.input :review %>
                      <% end %>
                    </div>
                    <div class="col-sm-12">
                      <%= f.submit class: 'btn btn-lg btn-primary' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
