<% content_for(:title) do%>
  <%= 'Welcome' %>
<% end %>

<div class="banner" style="background-image: linear-gradient(rgba(40, 40, 40 ,0.4), rgba(40, 40, 40 ,0.7)), url('<%= image_path 'banner-bg.jpg' %>');">
  <div class="banner-content">
    <h1>Farmland</h1>
    <p class="description">Localize farms around you for healthy food delivered.</p>
    <%= link_to 'Browse farms' , farms_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="container">
  <div class="last-farms">
    <h2>Last farms</h2>
    <div class="row">
      <% @farms.each do |farm| %>
        <div class="col-sm-4">
          <%= link_to farm_path(farm) do %>
            <div class="card-container" style="background-image: linear-gradient(rgba(40, 40, 40 ,0.4), rgba(40, 40, 40 ,0.7)), url('<%= farm.photo %>');">
              <div class="card">
                <h2><%= farm.name %></h2>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= farm.address %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="all-farm-link">
      <%= link_to 'Browse all farms', farms_path, class: 'btn btn-lg btn-primary'%>
    </div>
  </div>
</div>
